<ion-header>

  <ion-navbar padding>
    <ion-title style="text-align: center;">Register</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div style="/*height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;*/">
    <div class="login-box" *ngIf="!loggedIn" style="width: 100%;">
      <form (ngSubmit)="register()" #registerForm="ngForm" [formGroup]="registrationForm" >
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="name" name="name" formControlName="name" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="surname" name="surname" formControlName="surname" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="email" name="email" formControlName="email" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="password" name="password"
                           formControlName="password" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="confirmPassword" name="confirmPassword"
                           formControlName="password2" required></ion-input>
              </ion-item>

              <div *ngIf="passwordErrorMessage">
                <span>Gesli se ne ujemata</span>
              </div>

              <ion-item>
                <ion-label>Novinar</ion-label>
                <ion-checkbox name="type" formControlName="type"></ion-checkbox>
              </ion-item>

              <ion-item *ngIf="registerForm.value.type">
                <ion-input type="text" placeholder="media" name="media" formControlName="media"></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col class="signup-col" style="text-align: center;">
          <button ion-button (click)="clearForm()" style="background-color: indianred;">
            <ion-icon name="trash" style="padding-right: 8px;"></ion-icon>
            <ion-label>Clear fields</ion-label>
          </button>
        </ion-col>
      </ion-row>
      <div *ngIf="formErrors.email">
      </div>
    </div>
  </div>
</ion-content>
