<ion-header>

  <ion-navbar>
    <ion-title>Event Streamer</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-searchbar
    [(ngModel)]="search_event"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="search($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list inset>
    <ion-item *ngIf="events?.length > 0">
        <ion-item-sliding *ngFor="let event of events">
          <button ion-item (click)="openEvent(event._id, event.naziv)">
            <h2>{{event.naziv}}</h2>
          </button>
        </ion-item-sliding>
    </ion-item>


    <ion-item *ngIf="events?.length == 0">
      <h1>Seznam je prazen</h1>
    </ion-item>
  </ion-list>
</ion-content>
